* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font: normal 20px Helvetica, Arial, sans-serif;
}

header {
  color: #fff;
  background: #3D3D3D;
  text-align: center;
  padding-top: 130px;
}

header h1 {
  letter-spacing: 20px;
  text-transform: uppercase;
  font: normal 68px Helvetica, Arial, sans-serif;
}

header figure {
  padding: 40px 0 130px 0;
}

header nav {
  padding-bottom: 50px;
}

header nav li {
  display: inline;
  font-size: 20px;
  padding: 0 25px;
}

header nav a:hover {
  color: #f1e100;
}

a.active {
  color: #00c9ba;
}

main {
  width: 1000px;
  padding: 0 0 93px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div.articles {
  padding-top: 40px;
}

main div article {
  width: 650px;
  color: #45494d;
  margin-bottom: 80px;
}

main div article h2 {
  margin-bottom: 20px;
}

main div article h2 a {
  color: #45494d;
  font-size: 36px;
  font-weight: bold;
}

main div article h2 a:hover {
  color: #00c9ba;
}

main div article p {
  margin-bottom: 15px;
  line-height: 30px;
  text-align: justify;
}

main div article p a {
  text-decoration: none;
  color: #50c3af;
}

main div div ul.inactive {
  margin: 0 25px 0 0;
}

.button li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 20px;
}

.inactive li a {
  background: #d2d5da;
}

.active li a {
  background: #50c3af;
}

main div div ul {
  display: inline-block;
}

main div dl dd ul li a {
  color: #45494d;
}

main div dl dd ul li a:hover {
  color: #00C8B0;
}

main div {
  margin-top: 40px;
}

main div dl dd ul {
  list-style-type: none;
  list-style-image: url("images/list_icon.png")
}

.indent {
  padding-left: 20px;
}

main div dl dd ul li {
  line-height: 21px;
}


main div.sidebar {
  margin-top: 80px;
}

dl {
  max-width: 235px;
  background: #f6f7f8;
  padding: 40px;
}

main div dl:first-child {
  padding-bottom: 77px;
}

dt {
  font: bold 16px Helvetica, Arial, sans-serif;
  color: #45494E;
  padding-bottom: 33px;
  text-transform: uppercase;
}

main div dl:nth-child(2) > dt {
  padding-bottom: 35px;
}

dd {
  font: normal 14px Helvetica, Arial, sans-serif;
  max-width: 170px;
  line-height: 21px;
  text-align: justify;
  color: #787b80;
}

footer {
  border-top: 1px solid #d0d0d0;
  width: 1000px;
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #7D82AB;
  margin: 0 auto;
  padding: 17px 0 32px 0;
}
